<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>
    <h1>About Page</h1>
    <h2>Nicolas</h2>
    <p>Hi I'm Nicolas and I'm 29 and I'm studying Web Development at Ironhack</p>

    <h2>Laia</h2>
    <p>Hi I'm Laia and I'm 25 and I'm also studying Web Development at Ironhack</p>
</body>
</html>