<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <h1>Works Page</h1>
    <h2>Nicolas</h2>
    <img src="/img/power-artillery.png" alt="">
    <p><a href="https://nmirabets.github.io/ArtilleryGame/" target="_blank">Javascript Game</a></p>

    <h2>Laia</h2>
    <img src="/img/other-side.png" alt="">
    <p><a href="https://laialloret95.github.io/game-make-it-to-the-other-side/" target="_blank">Javascript Game</a></p>
</body>
</html>